doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    title The Guardian – Commsec Flipcards

    //- iframe messenger
    script(src="//interactive.guim.co.uk/libs/iframe-messenger/iframeMessenger.js")
    script iframeMessenger.enableAutoResize({ absoluteHeight: true });

  body
    //- main content
    main#app

